@media (min-width: 1300px) {
  .large_image {
    margin-inline-start: calc(100% - 571px);
  }
}
@media (max-width: 1266px) {
  .grid_Responsive {
    grid-template-columns: 1fr;
  }
  .image_responsive {
    display: block;
    height: 500px;
  }
  .image_responsive img {
    object-position: center;
  }
  .large_image {
    display: none;
  }
  .paragraph {
    max-width: 100%;
  }
}
@media (max-width: 997px) {
  .grid_Responsive {
    width: 100%;
  }
  .image_responsive {
    height: 400px;
    margin-bottom: 16px;
  }
  .paragraph {
    max-width: 92%;
    margin-inline-start: 16px;
    margin-inline-end: 16px;
    /* margin-top: 48px; */
  }
  .btn_link {
    display: block;

    margin-inline-start: 16px;
  }
}
@media (max-width: 440px) {
  .image_responsive {
    height: 320px;
  }
}
