@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-btn: #002f69;
  --text-links-color: #475467;
}

body {
  font-family: "Urbanist";
}
.main_wrapper {
  width: 88%;
  margin: auto;
}
