@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-btn: #002f69;
  --text-links-color: #475467;
  --light-blue-color: #0886f6;
}

body {
  font-family: "Urbanist";
}
.main_wrapper {
  width: 88%;
  margin: auto;
}
.btn_shadow {
  box-shadow: 0px 1px 2px 0px #1018280d;
}
