.title {
  text-align: center;
  margin-top: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  width: 88%;
  margin: 3rem auto;
}

.card {
  width: 252px;
  height: 517px;
  margin: 0 -3rem;
  overflow: hidden;
  position: relative;
  border-radius: 45px;
  transition: all 500ms;
}
.card img {
  object-fit: cover;
  object-position: center;
}
/* .container h3 {
  position: absolute;
  top: 92%;
  left: 20px;

  font-size: 1.8rem;
  font-weight: 900;
  opacity: 0;
} */

.active {
  width: 580px;
  transition: width ease 500ms;
  background-color: var(--review-active-color);
}
.otheraActive {
  width: 676px;
  transition: width ease 500ms;
  background-color: var(--review-active-color);
}
.firstAnimation {
  opacity: 0;
  animation-name: othersAnimation;
  animation-delay: 300ms;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.otherAnimation {
  opacity: 0;
  animation-name: othersAnimation;
  animation-delay: 300ms;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes othersAnimation {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* .active h3 {
  opacity: 1;
  transition: opacity 3s;
} */

/* @media (max-width: 1024px) {
  .container {
    width: 96%;
  }

  .container h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 520px) {
  #CityonWinter,
  #Mountains-Clouds {
    display: none;
  }

  .container h3 {
    top: 88%;
  }
} */
