.title {
  text-align: center;
  margin-top: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  width: 88%;
  /* margin: 3rem auto; */
}

.card {
  width: 252px;
  height: 517px;
  margin: 0 -2rem;
  overflow: hidden;
  position: relative;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  transition: all 500ms;
}
.card img {
  object-fit: cover;
  object-position: center;
}

.active {
  width: 580px;
  transition: width ease 500ms;
  background-color: var(--review-active-color);
}
.otheraActive {
  width: 676px;
  transition: width ease 500ms;
  background-color: var(--review-active-color);
}
.firstAnimation {
  opacity: 0;
  animation-name: othersAnimation;
  animation-delay: 300ms;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.otherAnimation {
  opacity: 0;
  animation-name: othersAnimation;
  animation-delay: 300ms;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .card {
    width: 100%;
    height: 88px;
    margin: -40px 0 0 0;
    border-radius: 24px;
  }
  .active {
    height: 380px;
    transition: height ease 500ms;
  }
  .otheraActive {
    height: 400px;
    transition: height ease 500ms;
  }
  .firstAnimation {
    animation-name: responsiveAnimation;
  }
  .otherAnimation {
    animation-name: responsiveAnimation;
  }
  .responsive {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 90%;
    margin-inline-start: 32px;
  }
  .responsive_One {
    height: 100%;
    align-items: center;
  }
  .responsive_One button {
    top: 4px !important;
  }

  .responsive > div {
    position: relative;
  }
  .responsive > div button {
    transform: scale(0.5) rotate(90deg);
    top: 17px;
  }
  .first_responsive {
    height: 56px;
  }
}
@media (max-width: 440px) {
  .container {
    width: 92%;
  }
}
@keyframes responsiveAnimation {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes othersAnimation {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
